body{
    margin: 0;
}
.bg-img{
    background-image: url(images/donation13.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2.5px);
}
.bg-text{
    text-align: center;
    position: absolute;
    top: 12%;
    left: 22%;
}
.bg-text h1{
    font-size: 100px;
    color: #d5c129f1;
}
.bg-text p{
    font-size: 30px;
    color: #B7B7B7;
}
.donate-btn{
    border: 15px solid tomato;
    border-radius:10px ;
    text-align: center;
    color: white;
    background-color: tomato;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 400;
}

.donate-today{
    text-align: center;
}
.big-text-two h1{
    font-size: 50px;
    margin-top: 10%;
}
.big-text-two p{
    font-size: 25px;
    color: rgba(104, 102, 102, 0.996);
}
.box-money{
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
    color: rgba(97, 97, 97, 0.84);
}
.box-money div{
    font-size: 60px;
    padding: 40px 50px;
}

.money-one{
    
    margin-right:5% ;
    background-color: rgba(128, 128, 128, 0.046);
    border-radius: 20px;
}
.money-two{
    border: 3px solid tomato;
    margin-right:5% ;
    background-color: rgba(255, 99, 71, 0.21);
    border-radius: 5px;

}
.money-three{
    margin-right:5% ;
    background-color: rgba(128, 128, 128, 0.046);
    border-radius: 20px;

}
.money-four{
    margin-right:5% ;
    background-color: rgba(128, 128, 128, 0.046);
    border-radius: 20px;

}
.money-five{
    margin-right:5% ;
    background-color: rgba(128, 128, 128, 0.046);
    border-radius: 20px;

}
.amount-bar{
    width: 70%;
    padding: 20px;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.697);
}
.donate-plan{
    text-align: center;
}
.donate-plan h1{
    font-size: 50px;
    margin-top: 10%;
}
.donate-plan p{
    font-size: 25px;
    color: #B7B7B7
}
.category{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.food{
    border: none;
    height: 420px;
    background-color: #EDF5F6;
    border-radius: 4px;
    padding-top: 60px;
    padding-left: 2%;
    margin-left: 5%;
    width: 25%;
}
.food h2{
    font-size: 40px;

}
.food p{
    text-align: justify;
    font-size: 25px;
    color: #B7B7B7;
}
.shelter{
    border: none;
    height: 420px;
    background-color: #FFEEEE;
    border-radius: 4px;
    padding-top: 60px;
    padding-left: 2%;
    margin-left: 5%;
    width: 25%;

}
.shelter h2{
    font-size: 40px;
}
.shelter p{
    text-align: justify;
    font-size: 25px;
    color: #B7B7B7;
}
.education{
    border: none;
    height: 420px;
    background-color: #FFF4D6;
    border-radius: 4px;
    padding-top: 60px;
    padding-left: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 25%;

}
.education h2{
    font-size: 40px;
}
.education p{
    text-align: justify;
    font-size: 25px;
    color: #B7B7B7;
}
.donation-one{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
.photo{
    width: 60%;
    margin-top: 5%;
    margin-left: 8%;

}
.donate-food{
    width: 40%;
    margin-left: 10%;
}
.donate-food h1{
    font-size: 60px;
}
.donate-food p {
    font-size: 25px;
    color: #B7B7B7;
}
.contribute{
    border: 5px solid tomato;
    color: white;
    background-color: tomato;
    padding: 15px 10px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}
.donation-two{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}
.photo-1{
    width: 60%;
    margin-top: 5%;
    margin-left: 16%;
}
.donate-food-two{
    width: 40%;
}
.donate-food-two h1{
    font-size: 60px;
}
.donate-food-two p{
    font-size: 25px;
    color: #B7B7B7;
}
.donation-two{
    align-items: center;
}